<main class="container py-5 text-center">
  <h1 style="text-decoration: underline green;">Meet Scott &amp; Nick</h1>
  
  <div class="my-5 border-bottom p-4 justify-content-center row">
    <div class="col-lg-6 p-4">
      <h3 class="pb-4">Scott Alton</h3>
      <p>I am a developer based in Whitby, Ontario. I enjoy working with JavaScript, Ruby on Rails, and C#. Before coming to Durham College and pursuing a change in career direction, I worked as a cook and musician, and also teach guitar and piano lessons. I love creating things from scratch and breaking down complex problems.</p>
      <a class="btn btn-success" href="./Assets/ScottAltonResume.pdf" target="_blank">View Resume</a>
    </div>
    <div class="col-lg-4 about-img">
      <img src="./Assets/scottaltonpic.jpg" class="col-lg-6">
    </div>
  </div>
  <div class="my-5 p-4 justify-content-center row">
    <div class="col-lg-4 about-img">
      <img src="./Assets/nick.png" class="col-lg-10">
    </div>
    <div class="col-lg-6 p-4">
      <h3>Nick Sturch-Flint</h3>
      <p>Nick is a full-stack developer based in Oshawa, Ontario. I enjoy working with C#, C++, Java, PHP/HTML/CSS, JavaScript, and MySQL. Before coming to Durham College for Computer Programming Analyst, I worked as an administrator with Re/Max. As a hobby I enjoy playing guitar or video games, reading a book, or writing my own! Learning new things and finding my own solutions to problems are something I enjoy and welcome in the work place!</p>
      <a class="btn btn-success" href="./Assets/NickResume.pdf" target="_blank">View Resume</a>
    </div>
  </div>
</main>