<h1>Welcome to WEBD 6201</h1>

<p id="paragraphOne">
    This is a portfolio site that was built by Nick Sturch-Flint and Scott Alton with the help of 
    our WEBD6201 professor Tom Tsiliopoulos. With his help we have created a site that shows you 
    some of our favourite projects we've built, what services we offer, and a little more about ourselves.
</p>
<br/><hr/><br/>
<p>
    As well we offer you a registration proccess where you can register yourself with our database
    and 
</p>
<hr/>

<p>
    Our goal is to help you visualize and realize your application ambitions by bringing our expertise
    in building full stack apps, and our comfortability working with clients again and again. By implementing
    a front end of ejs, node.js and just run of the mill HTML and CSS, and combining it with express, passport
    and MongoDB Atlas we can build your dream application is record time!
</p>
